body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/173/396/original/sunpeekcloud.jpg?1757289064");
  background-repeat: no-repeat;
  background-size: 5080px;
  background-position: center;
  display: block;
}

.search-form-input {
  width: 45%;
  padding: 6px;
  border: none;
  border-radius: 10px;
}

.search-form-button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
}
.current-weather {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 45px auto;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  border-radius: 30px;
  background-color: #daeff2;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.current-temperature {
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 5px #ffffff;
}

.current-city {
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #ffffff;
}

.current-date {
  text-align: center;
  line-height: 35px;
}

.emoji {
  font-size: 20px;
  word-spacing: 120px;
  line-height: 30px;
}

.info {
  word-spacing: 108px;
  position: relative;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10px;
}

.description {
  word-spacing: 112px;
  position: relative;
  right: 7px;
  line-height: 12px;
}

.current-description {
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  line-height: 90px;
}
