body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/173/396/original/sunpeekcloud.jpg?1757289064");
  background-repeat: no-repeat;
  background-size: 5080px;
  background-position: center;
  position: static;
}

.search-form-input {
  width: 45%;
  padding: 6px;
  border: none;
  border-radius: 10px;
  margin: 20px;
}

.search-form-button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
}
.weather-app {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #daeff2;
  border-radius: 20px;
  opacity: 0.9;
  text-align: center;
  max-width: 550px;
  height: 52em;
  margin: 20px auto;
  padding: 20px;
}

.current-temperature {
  font-size: 90px;
  text-shadow: 2px 2px 5px #ffffff;
  margin: 20px auto;
}

.unit {
  font-size: 24px;
  position: relative;
  bottom: 104px;
  left: 54px;
}

.current-city {
  font-size: 35px;
  font-weight: 550;
  text-shadow: 2px 2px 4px #ffffff;
  position: relative;
  bottom: 20px;
}

.emoji {
  font-size: 20px;
  word-spacing: 110px;
  line-height: 60px;
  position: relative;
  right: 5px;
}

.current-info {
  word-spacing: 90px;
  line-height: 40px;
  font-weight: 550;
  color: #020972;
}

.info {
  word-spacing: 90px;
  position: relative;
  right: 10px;
  font-weight: 550;
  line-height: 40px;
}

.current-description {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  right: 40px;
  bottom: 25px;
}

.weather-app-icon {
  position: relative;
  top: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 20px 5px;
}

.weather-forecast-date {
  text-align: center;
  margin: 15px 10px;
  font-size: 18px;
  color: #6f949b;
}

.weather-forecast-icon {
  display: block;
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 10px;
  color: #229eb7;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  margin-top: 30px;
}
